
header {
    width: 100%;
    padding: 4rem 0;
    background-color: grey;
    nav {
      @include flex(row, space-around, center);
        
      h1 {
          font-size: 3em;
          color: #2b2b2b;
      }

      ul {
        @include flex(row, space-around, center);
        list-style: none;
        gap: 3em;
        
        li {
            a{
                font-size: 2m;
                color: #2b2b2b;
                text-decoration: none;
            }
            
        }
      }
    }
}